body {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  padding: 24px 12px 12px 12px;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-y: scroll;
}

html {
  overflow-y: scroll;
}